.gridbreak {
    position: relative;
    margin-top: 80px;
    margin: auto;
    max-width: 560px;
    height: 300px;
    background-color: rgb(222, 222, 222);
    border: solid black 3px;

}

.block {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: blue;
    left: 50px;
    bottom: 50px;
}

.userbreak {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: gray;
    border-radius: 10px;
    left: 50px;
    bottom: 50px;
}

.ball {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: red;
}



button.breakout {
    margin-top: 20px;
}

#scorebreak {
    font-weight: bold;
    font-size: 24px;
}