.gridwam{
    display: flex;
    width: 606px;
    height: 606px;
    flex-wrap: wrap;
    padding-top: 50px;
    align-items: center;
    margin: auto;

}

.squarewam{
    height: 200px;
    width: 200px;
    border: solid black 1px;
}

.mole{
    background-image: url(./gamePictures/mole.jpg);
    background-size: cover;
}

h2.wam{
    display: inline;
}

button.wam{
    margin-top: 25px;
    border-radius: .25em
}