/*------------Responsive----------------*/

/* phone */
@media (max-width: 412px) {
  * {
    font-size: 0.73rem;
  }

  p {
    font-size: 1.5rem;
  }

  img {
    scale: 75%;
  }

  /* ----------- Rabbit Watercooler ----------------*/
/*   div.title_text  {
    font-size: 1.0rem;
  } */

  div.fuzzy_glass {
    background-color: rgba(0, 4, 62, 0.859);
    width: 330px;
    height: 295px;
  }

  .purple_glow_grntext,
  .title {
    font-size: 1.7rem;
  }

  div.carrot_btn {
    scale: 100%;
  }

  
  button.login_btn {
    width: 130px;
    position: relative;
    top: 13px;
  }

  button.signup_btn {
    width: 130px;
    position: relative;
    top: 13px;
  }

  form.form_regis {
    font-weight:bolder ;
  color: rgb(223, 75, 105);
  background-color: rgba(255, 255, 255, 0.45);
  max-width: 450px;
}b

  .arcade_text  {
    font-size: 0rem;
  }
}


  div.footer {
   top: 3px;
  }
  
/*------------- Desktop -------------------*/

@media (min-width: 1600px) {
  * {
    font-size: 1.0rem;
  }

  
  div.carrot_btn {
    position: relative;
    bottom: 50px;
    left: 3px;
    scale: 200%;
  }

  img {
    scale: 100%;
  }

  
  button.login_btn {
    width: 130px;
    position: relative;
    bottom: 5px;
  }

  button.signup_btn {
    width: 130px;
    position: relative;
    bottom: 20px;
  }

  

div.fuzzy_glass {
    font-size: 1.2rem;
    width: 330px;
    height: 315px;
  }
  

}

/* ------------------Font and text settings------------------ */

.navbar {
  font-size: 2rem;
}

label,
textarea {
  font-size: 1.25rem;
  width: 100%;
}

.footer {
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
  position: relative;
  top: 5px;
}

/* ------------------Global settings------------------ */



.descroller {
    overflow-y: hidden;/* 
    overflow-x: hidden; */
}

.nav-link:hover {
  text-shadow: 1px 1px 14px rgb(238, 255, 0);
}

.nav-link {
  color: rgb(255, 255, 0);
}

div[class*="container"] {
  /* 
    background-color: hsl(208, 86%, 13%); */
  color: rgb(255, 255, 255);
  height: 100vh;
  border: 10px inset rgb(30, 30, 67);
  overflow-x: hidden;
  border-radius: 30px;
  box-shadow: 1px 1px 8px black outset;
}

.container {
  border-radius: 30px;
}

h4.title {
  color: crimson;
}

/* ---------------Title page settings------------------ */

.bgnd_img-ttlpg {
  background-image: url("./images/page_bkgnds/Rabbit-Hole.jpg");
  height: 1000px;
  background-position: center;
  overflow-y: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(38, 57, 92);
}

.carrot_btn {
  background-image: url("./images/carrot1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transform: rotate(20deg);
  height: 150px;
  width: 300px;
}

p.enter-text {
  font-family: "DynaPuff", cursive;
  font-size: 2.2rem;
}

.main_text,
.sub_text {
  font-family: "Permanent Marker", cursive;
  font-size: 2.5em;
}

/* ---------------Games page settings------------------ */

.bgnd_img-12under {
  background-image: url("./images/page_bkgnds/12underb_kgnd_blur.jpg");
  height: 1000px;
  overflow-x: scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgnd_img-13up {
  background-image: url("./images/page_bkgnds/all_games_blur.jpg");
  height: 1000px;
  overflow-x: scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@keyframes blur_fadeout {
  from {
    filter: blur(0px);
  }
  to {
    filter: blur(10px);
  }
}

.game_thumb {
  max-height: 250px;
}

.img_grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

/* ---------------Leaderboard settings------------------ */

.top-rabbits {
  font-family: "Permanent Marker", cursive;
  position: relative;
  bottom: 5px;
}

.leaderboard {
  background-image: url("./images/page_bkgnds/leaderboard_blur.jpg");
  height: 1000px;
  overflow-x: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

table {
    width: 10%;
}

th,
td {width: 10%;
  font-size: 1.1em;
}

th {
  background-color: #004c93ae;
  color: rgb(255, 230, 0);
}

.table {
  color: rgb(128, 255, 0);
}

.table_holder {
  background-color: #002e5aae;
  height: 100vh;
  min-width: 320px;
}

/* ---------------Login Page settings------------------ */

.login_page {
    
  overflow-y: hidden;
}

h4.title {
  font-family: "DynaPuff", cursive;
  color: rgb(0, 251, 255);
}

.bgnd_img-signup_login {
  background-image: url("./images/page_bkgnds/signup_login.jpg");
  height: 1000px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /*animation: blur_fadeout 3s 1; */
}

.fuzzy_glass {
  background-color: rgba(0, 4, 62, 0.859);
  border-radius: 25px;
  font-size: 1.2rem;
  width: 330px;
  height: 300px;
}

input:focus {
  border: 2px solid yellow;
}

.purple_glow_grntext {
  color: rgb(237, 241, 0);
  background-color: rgba(0, 0, 0, 0.212);
  box-shadow: 1px 1px 4px  rgb(0, 255, 68);;
  border: none;
}

.signup_btn {
  width: 130px;
  background-color: rgb(0, 55, 255);
  font-size: 1.5rem;
  border: 0px none white;
  border-radius: 30px;
  color: antiquewhite;
}

.login_btn {
  width: 130px;
  background-color: rgb(255, 0, 0);
  font-size: 1.5rem;
  border: 0px none white;
  border-radius: 30px;
  color: antiquewhite;
}

/* ---------------Registration Page settings------------------ */


.placeholder {
    height: 200px;
    width: 200px;
}


.bgnd_img-registration {
  background-image: url("./images/page_bkgnds/registration.jpg");
  height: 1000px;
  overflow-x: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /*animation: blur_fadeout 3s 1; */
}

.form_regis {
    font-weight:bolder ;
  color: rgb(223, 75, 105);
  background-color: rgba(255, 255, 255, 0.45);
  max-width: 450px;
  border-radius: 20px;
}

.create_account {
    width: 230px;
    background-color: rgb(0, 55, 255);
    font-size: 1.5rem;
    border: 0px none white;
    border-radius: 30px;
    color: antiquewhite;
  }

/* ---------------Forum page settings------------------ */

.forumBlog {
  background-color: rgba(245, 245, 245, 0.652);
  border-radius: 25px;
  height: 70vh;
  width: 100%;
}

.forumBlog_plate {
  background-color: rgba(245, 245, 245, 0.652);
  border-radius: 25px;
}

input.input {
  width: 100%;
}

.bgnd_img-forum {
  background-image: url("./images/page_bkgnds/forum_blur1.jpg");
  height: 1000px;
  overflow-x: scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.game_thumb {
  max-height: 250px;
}

h1.title_text  {
    font-size: 3.0rem;
  }

/* ---------------Profile Page settings------------------ */

.high-scores_profpage {
  background-color: rgba(0, 213, 255, 0.344);
  border-radius: 25px;
  height: 35vh;
  width: 85%;
}

.prof_backing {
  background-color: darkviolet;
}

img.profpic {
  border-radius: 40%;
  height: 200px;
}

.jokeholder {
  height: 150px;
  position: relative;
  top: 0px;
  overflow-y: auto;
}
/* 
.joke_button {
    
    position: relative;
    top: 200px;
    background-color: darkviolet;
} */

.row.height {
  height: 400px;
}

/* ----------------- modal styling ---------------------- */

.game_titles {
    
    font-family: "Permanent Marker", cursive;
    font-size: 50px;
    color: rgb(88, 255, 104);
  }

.modalBackground {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
  left: 0;
  top: 0;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0, 5);
}

.modalContainer {
  position: relative;
  
  border: 1px solid black;
  border-radius: 20px;
  background-color: #0d2858f4;
  margin: 10% auto;
  width: 650px;
  
  height: 700px;
  padding: 20px;

}


.c4-Container {
  border: 1px solid black;
  background-color: #f4f4f4f4;
  margin: 20% auto;
  width: 70%;
  height: 70%;
  padding: 20px;
}

body.breakout {
  background-color: #e9ecef;
  text-align: center;
}

body.c4 {
  text-align: center;
  font-family: stencil, fantasy;
  background-color: cyan;
}

body.rps {
  background-color: lightblue;
}