/* ------------------Font and text settings------------------ */

.navbar {
    font-size: 2.0rem;
}


label,input {
    font-size: 1.25rem;
}

.footer {
    font-size: 1.2rem;
}

/* ------------------Global settings------------------ */

.nav-link:hover {
    text-shadow: 1px 1px 14px rgb(238, 255, 0);
}

.nav-link {
    color: rgb(255, 255, 0);    
}

div[class*="container"] {/* 
    background-color: hsl(208, 86%, 13%); */
    color:rgb(230, 230, 230);
    height: 100vh;
    border: 10px inset rgb(30, 30, 67);
    box-shadow: 1px 1px 8px black outset;
}

.container {
    border-radius: 30px;
}

h4.title {
    color:crimson ;
}


/* ---------------Title page settings------------------ */

.bgnd_img-ttlpg {
    background-image: url('./images/page_bkgnds/Rabbit-Hole.jpg');
    height: 1000px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(38, 57, 92);
}

.car_btn {
    background-image: url('./images/car-gaf6cfc371_640.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
    width: 300px;
}


/* ---------------Games page settings------------------ */


.bgnd_img-12under {
    background-image: url('./images/page_bkgnds/12underb_kgnd_blur.jpg');
    height: 1000px;
    overflow-x: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.bgnd_img-13up {
    background-image: url('./images/page_bkgnds/all_games_blur.jpg');
    height: 1000px;
    overflow-x: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

@keyframes blur_fadeout {
  from {filter: blur(0px);}
  to {filter: blur(10px);}
}

.game_thumb {
    max-height: 250px;
}

.img_grid {display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

/* ---------------Leaderboard settings------------------ */

/* .scoreboard {
    background-color: rgba(196, 227, 255, 0.232);
    height:50vh;
    overflow-y: scroll;
} */

.leaderboard {
    background-image: url('./images/page_bkgnds/leaderboard_blur.jpg');
    height: 1000px;
    overflow-x: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

th,td {
    height: 10px;
}

th {
    background-color:#004c93ae;
    color: rgb(255, 230, 0);
}

.table {
    color: rgb(128, 255, 0);
}

.table_holder {
    background-color: #002e5aae;
    height: 100vh;
    min-width: 320px;
 
}

.game_name {

}

/* ---------------Login Page settings------------------ */

.bgnd_img-signup_login {
    background-image: url('./images/page_bkgnds/signup_login.jpg');
    height: 1000px;
    overflow-x:hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*animation: blur_fadeout 3s 1; */

}

.fuzzy_glass {
    background-color: rgba(37, 5, 71, 0.843);
    font-size: 1.2rem;
    width: 100vw;
}

.purple_glow_grntext {
    color: rgb(237, 241, 0);
    background-color: rgb(53, 5, 53);
    box-shadow: 1px 1px 4px fuchsia ;
}



.signup_btn {
    width: 130px;
    background-color:crimson;
    font-size: 1.5rem;
    border: 0px none white;
    border-radius:30px;
    color:antiquewhite;
    box-shadow: 3px 3px 9px fuchsia ;
}

.login_btn {
    width: 130px;
    background-color:crimson;
    font-size: 1.5rem;
    border: 0px none white;
    border-radius:30px;
    color:antiquewhite;
    box-shadow: 3px 3px 9px fuchsia ;
}

/* ---------------Registration Page settings------------------ */

.bgnd_img-registration {
    background-image: url('./images/page_bkgnds/registration.jpg');
    height: 1000px;
    overflow-x:hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*animation: blur_fadeout 3s 1; */

}

.form_regis {
    color: crimson;
    background-color: rgba(255, 255, 255, 0.45);
    max-width: 450px;
}



/* ---------------Forum page settings------------------ */

.forumBlog {
    background-color: rgba(245, 245, 245, 0.652);
    border-radius: 25px;
}

.forum-s1 {
    background-color: rgba(245, 245, 245, 0.652);
}

.forum-s2 {
    background-color: rgba(245, 245, 245, 0.652);
}

.forum-s3 {
    background-color: rgba(245, 245, 245, 0.652);
}

.bgnd_img-forum {
    background-image: url('./images/page_bkgnds/forum_blur.jpg');
    height: 1000px;
    overflow-x: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.game_thumb {
    max-height: 250px;
}

.img_grid {display: flex;
    flex-flow: row wrap;
    justify-content: center;
}